body, html {
  margin: 0;
  padding: 0;
}

#main-container {
  height:100vh;
  display: flex;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
}

/* LHS of page */

.button-container {
  flex:1;
  background-color: lightblue;
}

.buttons {
  display: grid;
}


.button {
  width: 100px;
  height: 100px;
  background-size: cover; /* Adjust image size to cover the button */
  outline: none; /* Remove outline when focused */
  cursor: pointer; 
}


#left{
  grid-column: 1;
  grid-row: 2;
  background-image: url(images/left.svg);
}
#right{
  grid-column: 3;
  grid-row: 2;
  background-image: url(images/right.svg);
}
#forward{
  grid-row: 1;
  grid-column: 2;
  background-image: url(images/up.svg);
}
#backward{
  grid-row:3;
  grid-column: 2;
  background-image: url(images/down.svg);
}


/* RHS of page */

.pointer-container {
  flex:1;
  background-color: lightgray;
}

.pointer-img {
  height: 275px;
  width: 275px;
  transform-origin: center; /* Optional: Set the rotation origin */
  transition: transform .7s ease; /* Optional: Add transition for smooth rotation */
}


